<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" th:rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" />
<link type="text/css" th:rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
	<script>
		0
	</script>
	<div th:replace="segments :: menu (title='Etusivu')"></div>
	<div class="container">
		<div class="d-flex justify-content-center mt-1">
		<h1>Kirjaudu sisään</h1>
	</div>
	</div>

	
</body>
</html> 