<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" th:rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" />
<link type="text/css" th:rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
	<script>
		0
	</script>
	<div th:replace="segments :: menu (title='Koko ohjelma')"></div>
	<div class="d-flex justify-content-center mt-1">
		<a class="btn btn-outline-dark" href="/uusiohjelma">Lisää ohjelma</a>
	</div>
	<div class="cont">
	<div class="table-responsive">
		<table id="mainTable" class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th>ID</th>
					<th>Otsikko</th>
					<th>Alkuaika</th>
					<th>Loppuaika</th>
					<th>Paikka</th>
					<th>Aalto</th>
					<th>Sisäinen kuvaus</th>
					<th>LeiriApp</th>
					<th>Kategoria</th>
					<th>Alaleiri</th>
					<th>Ikäkausi</th>
					<th>Osa-alue</th>
					<th>Ryhmä</th>
					<th>Hallinta</th>
				</tr>
			</thead>
			<tr th:each="ohjelma :${ohjelmalista}">
				<td th:text=${ohjelma.ohjelma_id}>ID</td>
				<td th:text=${ohjelma.otsikko}>Otsikko</td>
				<td
					th:text="${#temporals.format(ohjelma.start, 'dd-MM-yyyy HH:mm')}">Alkuaika</td>
				<td th:text="${#temporals.format(ohjelma.end, 'dd-MM-yyyy HH:mm')}">Loppuaika</td>
				<td th:text=${ohjelma.paikka}>Paikka</td>
				<td th:text=${ohjelma.aalto}>Aalto</td>
				<td th:text=${#strings.abbreviate(ohjelma.internal_desc,20)}>Sisäinen
					kuvaus</td>
				<td th:text=${ohjelma.leiri_app}>LeiriApp</td>
				<td th:text=${ohjelma.kategoria?.getKategoria()}>Kategoria</td>
				<td th:text=${ohjelma.alaleiri?.getAlaleiri()}>Alaleiri</td>
				<td th:text=${ohjelma.ikakausi?.getIkakausi()}>Ikäkausi</td>
				<td th:text=${ohjelma.osa_alue?.getOsalue}>Osa-alue</td>
				<td th:text=${ohjelma.ryhma?.getRyhma}>Ryhmä</td>
				<td><a th:href=@{poista/{id}(id=${ohjelma.ohjelma_id})}
					onclick="return confirm('Oletko varma?')"
					class="deleteText">Poista</a> 
					<a
					th:href=@{editoi/{id}(id=${ohjelma.ohjelma_id})} class="editText">Muokkaa</a></td>
			</tr>
		</table>
	</div>
	</div>

	
</body>
</html>